* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #479cc0;
  font-size: 16px;
}

h1 {
  margin: 0;
  color: #242d32;
  text-align: center;
  padding: 1.25rem 0;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

ul {
  width: 100%;
  margin-top: 1.5rem;
  background-color: #479cc0;
  
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: .5rem .75rem;
  background-color: #f9fdff;
}

span {
  padding: 0 .25rem;
}

i {
  padding: 0 .25rem;
}

li:nth-child(odd) {
  background-color: #f0f9fe;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid gray;
}


.container {
  background-color: #fcfcfc;
  margin: 1.5rem auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.my-input {
  width: 70%;
  padding: 1rem 1.5rem;
  text-align: center;
  font-style: italic;
  font-size: 1.125rem;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #479cc0;
  font-size: 1.5rem;
  color: #fcfcfc;
}

progress {
  font-size: 1rem;
}

.add-block {
  display: flex;
    justify-content: space-around;
}

.hidden {
  display: none;
}

.atlikta {
  text-decoration: line-through;
}

label {
  text-align: center;
    margin: 16px 0px 8px 0px;
}

progress {
  margin: 0px auto 16px auto;
  height: 32px;
}